*
{
    margin:0px;
    padding:0px;
}

img
{
    width:23%;
    height:270px;
    box-shadow: 0 10px 20px 0 rgba(8, 90, 232, 0.4);
}
.container
{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:300px;
}